<!-- TODO Main page -->

<div class="container-fluid">

    <div class="row justify-content-center">
        <div class="col-4 align-self-center">
        <img class = "img-fluid gif" style=" width: 100%;
        height: auto;" src="../assets/images/logo_line.gif">
    </div>
<div class="row1 text-center row">
        <div class="col align-self-center">
FIND YOUR TEAM
</div>
</div>


</div>

<div class="row2 text-center row">
        <div class="col align-self-center">
CREATE GAMES
</div>

</div>

<div class="row1 text-center row">
        <div class="col align-self-center">
JOIN US
</div>

</div>

<div class="text-center row edit-width">
        <!-- <div class="col-5">
                SIGN UP
        </div> -->
        <!-- <div class="row "> -->
                <button mat-button routerLink="/register" class="mp-button red-button col">Register</button>
        <!-- </div> -->

</div>
</div>